* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("images/Pattern/pattern9.jpg");
}

/* Style the header */
.header {
    padding: 20px;
    text-align: center;
    background-image: url("pattern9.jpg");
}
.row{
  width:100%;
  text-align:center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.333%;
    padding: 60px;
	margin-left:auto;


}
.maze{
  padding-left:20px;
  padding-right:20px;
  padding-top:70px;
  padding-bottom:20px;
  float:center;
  background-color: rgba(0,0,0,0.6);
  font-family:Arvo;
}

p{
	background-color:rgba(0,0,0,0.75);
	cursor: pointer;
	width:100%;
	height:70px;
	font-size:40px;
	margin-left:auto;
	margin-right:auto;
	color:white;
}

p:hover{
	background-image: url("images/Pattern/pattern9.jpg");
	width:100%;
	color:black;
	text-shadow: 2px 1px green;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    .column {
        width: 100%;
    }
}

#myBtn {
   display: none; /* Hidden by default */
   position: fixed; /* Fixed/sticky position */
   bottom: 20px; /* Place the button at the bottom of the page */
   right: 30px; /* Place the button 30px from the right */
   z-index: 99; /* Make sure it does not overlap */
   border: none; /* Remove borders */
   outline: none; /* Remove outline */
   background-color: white; /* Text color */
   cursor: pointer; /* Add a mouse pointer on hover */
   border-radius: 10px;  /*Rounded corners */
}

#myBtn:hover {
  background-color: black;
  color:white;
}